.admin-page.admin-event-comments-page
  .cell
    = link_to admin_events_path do
      %i.fa.fa-chevron-left
      Back to Events
    %br
    %br
  %h1.text-center= "#{@event.name} Comments"
- if @event_comments.any?
  .table-scroll
    %table
      %thead
        %tr
          %th ID
          %th Volunteer
          %th Comment
      %tbody
        - @event_comments.each do |comment|
          %tr
            %td
              = comment.id
            %td
              = "#{comment.user.first_name} #{comment.user.last_name}"
            %td
              = comment.text
- else
  %p.description.text-center
    No comments were received on this event.