.admin-page.admin-event-comments-page
  %h1.text-center= "#{@event.name} Comments"
.cell
  = link_to admin_events_path do
    %i.fa.fa-chevron-left{style:'color:#7CA5C2;margin-right:0.5rem;'}
    Back to Events
  %br
  %br
.table-scroll
  %table
    %thead
      %tr
        %th ID
        %th User
        %th Comment
    %tbody
      - @event_comments.each do |comment|
        %tr
          %td
            = comment.id
          %td
            = "#{comment.user.first_name} #{comment.user.last_name}"
          %td
            = comment.text