.admin-events-page
  = link_to 'Create Event', new_admin_event_path, class: 'button'
  %table
    %thead
      %tr
        %th ID
        %th Name
        %th Image
        %th Description
        %th Start Time
        %th.show-for-medium End Time
        %th Region
        %th Actions
    %tbody
      - @events.each do |event|
        %tr
          %td
            = event.id
          %td
            = event.name
          %td
            = image_tag event_image_or_default_url(event), class: 'thumbnail'
          %td
            = event.description
          %td
            = event.start_time&.strftime("%m/%d/%y")
          %td.show-for-medium
            = event.end_time&.strftime("%m/%d/%y")
          %td
            = event.region.name
          %td
            =link_to 'Edit', edit_admin_event_path(event), class: 'edit-action'
            |
            =link_to 'Delete', admin_event_path(event), class: 'delete-action', data: { confirm: 'Are you sure?', method: :delete }
            |
            =link_to 'Show Comments', admin_event_comments_path(event), class: 'edit-action'
