.admin-page.admin-events-page
  %h1.text-center= @events_title
  %ul.tabs-ul
    = link_to admin_events_path(active: true), class: ('active' if params[:active] == 'true') do
      %li Active
    = link_to admin_events_path(active: false), class: ('active' if params[:active] == 'false') do
      %li Archived
  = link_to 'New Event', new_admin_event_path, class: 'button' if params[:active] == 'true'
  - if @events.any?
    = render partial: 'search_form'
    .table-scroll
      %table
        %thead
          %tr
            %th ID
            %th= sortable('events.name', 'Name')
            %th Image
            %th.show-for-medium Description
            %th= sortable('start_time', 'Start')
            %th.show-for-medium= sortable('end_time', 'End')
            %th= sortable('regions.name', 'Region')
            %th Actions
        %tbody
          - @events.each do |event|
            %tr
              %td= event.id
              %td= link_to event.name, admin_event_path(event)
              %td
                = image_tag event_image_or_default_url(event), class: 'thumbnail'
              %td.show-for-medium
                = truncate(event.description)
              %td
                = event.start_time&.strftime("%m/%d/%y")
              %td.show-for-medium
                = event.end_time&.strftime("%m/%d/%y")
              %td
                = event.region.name
              %td
                =link_to edit_admin_event_path(event), class: 'edit-action' do
                  %i.fa.fa-pencil
                =link_to admin_event_path(event), class: 'delete-action', data: { confirm: "Are you sure you would like to delete the #{event.name} event?", method: :delete } do
                  %i.fa.fa-trash
                =link_to admin_event_comments_path(event), class: 'edit-action' do
                  %i.fa.fa-comments-o
  .pagination-wrapper.admin
    .pagination-info
      = pagy_info(@pagy).html_safe
    = pagy_foundation_nav(@pagy).html_safe if @pagy.pages > 1