.page-container
  .page-wrapper.reg-wrapper
    .grid-x.registration
      .cell.large-6.medium-6
        .login-box
          .grid-x
            .cell
              = form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {'data-abide' => '', novalidate: ''}) do |f|
                .row
                  %h5.text-center= t('.sign_up', :default => "REGISTRATION")
                  %br
                .alert.callout{"data-abide-error" => "", :style => "display: none;"}
                  %p
                    %i.fi-alert
                    There are some errors in your form.
                .grid-x.grid-margin-x
                  .cell.large-6.medium-6
                    %label
                      First name
                      = f.text_field :first_name, autofocus: true, placeholder: "First name", required: true
                      %span.form-error
                        First name is a required field.
                  .cell.large-6.medium-6
                    %label
                      Last name
                      = f.text_field :last_name, autofocus: true, placeholder: "last name", required: true
                      %span.form-error
                        Last name is a required field.
                .cell
                  %label
                    Email
                    = f.email_field :email, placeholder: "Email", required: '', pattern: 'email'
                    %span.form-error
                      Email is a required field.
                .cell
                  %label
                    Password
                    = f.password_field :password, autocomplete: "off", placeholder: "Password", required: ''
                    %span.form-error
                      Password is a required field.
                .cell
                  %label
                    Birthday
                    .birthday-wrapper
                      = f.date_select :birthday, {start_year: 1980, end_year: Date.today.year - 12, :order => [:month, :day, :year], default: {year: '1995'}, prompt: {month: 'Select month', day: 'Select day', year: 'Select year'}}, {required: true, style: '-webkit-appearance: none;'}
                    %span.form-error
                      Birthday is a required field.
                .cell
                  %label
                    School year
                    = f.select :school_year, school_years, {prompt: 'Select school year'}, required: ''
                    %span.form-error
                      School year is a required field.
                .cell
                  %label
                    Address
                    = f.text_field :address, placeholder: "address", required: ''
                    %span.form-error
                      Address is a required field.
                .grid-x.grid-margin-x
                  .cell.large-4.medium-4
                    %label
                      City
                      = f.text_field :city, required: '', placeholder: 'City'
                      %span.form-error
                        City is a required field.
                  .cell.large-4.medium-4
                    %label
                      State
                      = f.select :state, us_states, {prompt: 'Select state'}, {required: ''}
                      %span.form-error
                        State is a required field.
                  .cell.large-4.medium-4
                    %label
                      Zip code
                      = f.text_field :zip_code, required: '', placeholder: 'Zip code'
                      %span.form-error
                        Zip code is a required field.
                .cell
                  %label
                    Gender
                    = f.select :gender, User.genders.keys, {prompt: 'Select gender'}, required: ''
                    %span.form-error
                      Gender is a required field.
                .cell
                  %label
                    Phone number
                    = f.phone_field :phone, required: '', placeholder: 'Phone number'
                    %span.form-error
                      Phone is a required field.
                .grid-x.grid-margin-x
                  .cell.large-6.medium-6
                    %label
                      Parent first name
                      = f.text_field :parent_first_name, required: '', placeholder: "Parent's first name"
                      %span.form-error
                        Parent's first name is a required field.
                  .cell.large-6.medium-6
                    %label
                      Parent last name
                      = f.text_field :parent_last_name, required: '', placeholder: "Parent's last name"
                      %span.form-error
                        Parent's last name is a required field.
                .cell
                  %label
                    Parent email
                    = f.email_field :parent_email, required: '', placeholder: "Parent's email", pattern: 'email'
                    %span.form-error
                      Parent email is a required field.
                .cell
                  %label
                    Parent phone number
                    = f.text_field :parent_phone, required: '', placeholder: "Parent's phone number"
                    %span.form-error
                      Parent's phone number is a required field.
                .cell
                  = f.submit t('.sign_up', :default => "Sign up"), class: "button"
              = render "devise/shared/links"
