%table
  %thead
    %tr
      %th ID
      %th User
      %th Event
      %th Hours volunteered
      %th Review Status
  %tbody
    - p @volunteer_requests
    - @volunteer_requests.each do |volunteer_request|
      %tr
        %td
          = volunteer_request.id
        %td
          = "#{volunteer_request.user.first_name} #{volunteer_request.user.last_name}"
        %td
          = volunteer_request.event.name
        %td
          = volunteer_request.time_worked
        %td
          - if volunteer_request.status == 'requested'
            = link_to 'Accept', admin_volunteer_request_accept_reject_path(volunteer_request, status: 'accepted'), method: :put
            |
            = link_to 'Reject', admin_volunteer_request_accept_reject_path(volunteer_request, status: 'rejected'), method: :put
          - else
            = volunteer_request.status