.page-container#user-profile
	.page-wrapper
		.grid-x.grid-margin-x
			.cell.large-4.medium-4.text-center
				= image_tag 'user-placeholder.png', id: 'avatar'
				#hours-volunteered-wrapper
					%p#hv-title Hours volunteered:
					%p#hv-val= number_with_delimiter(@hours_volunteered)
			.cell.auto#user-profile-info
				%h1#name= @user.name
				%p#work= @user.volunteer
				%ul.tabs#user-info-tabs{'data-tabs' => '', 'data-deep-link' => 'true', 'data-update-history' => 'true'}
					%li.tabs-title.is-active
						%a{'aria-selected' => 'true', href: '#contact-info'} contact
					%li.tabs-title
						%a{href: '#other-info'} other
				.tabs-content{'data-tabs-content' => 'user-info-tabs'}
					#contact-info.tabs-panel.is-active
						.tabs-content-wrapper
							.user-info#phone
								%p.user-info-title phone:
								%p.user-info-val= link_to format_phone_num(@user.phone), "tel: #{format_phone_num(@user.phone)}"
							.user-info#address
								%p.user-info-title address:
								#address-wrapper
									%p.user-info-val#user-address= @user.address
									%p.user-info-val= "#{@user.city}, #{@user.state} #{@user.zip_code}"
							.user-info#email
								%p.user-info-title email:
								%p.user-info-val= mail_to(@user.email)
						%h3.section-heading parent info
						.tabs-content-wrapper
							.user-info#parent-name
								%p.user-info-title Name:
								%p.user-info-val= @user.parent_name
							.user-info#parent-contact
								%p.user-info-title Phone:
								%p.user-info-val= link_to format_phone_num(@user.parent_phone), "tel: #{format_phone_num(@user.parent_phone)}"
							.user-info#parent-email
								%p.user-info-title Email:
								%p.user-info-val= mail_to(@user.parent_email)
					#other-info.tabs-panel
						%h3.section-heading other info
						.tabs-content-wrapper
							.user-info#birthday
								%p.user-info-title birthday:
								%p.user-info-val= @user.birthday.strftime('%B %d, %Y')
							- unless @admin_user
								.user-info#school-year
									%p.user-info-title School Year:
									%p.user-info-val= @user.school_year
