<div class="grid-x">
  <div class="cell large-6 medium-6">
    <%= simple_form_for [:admin, @volunteer_hour] do |f| %>
      <%= f.input :user_id, label: 'Volunteer', as: :select, collection: User.order(:first_name, :last_name), selected: @volunteer_hour.user.present? ? @volunteer_hour.user.id : nil, prompt: 'Select a Volunteer', input_html: { id: 'user-select' } %>
      <div id="events-and-time-worked" style="display:none">
        <%= f.input :event_id, as: :select, collection: Event.active.map {|e| [e.name, e.id, {'data-max-limit': e.max_limit}]}, selected: @volunteer_hour.event.present? ? @volunteer_hour.event.id : nil, prompt: 'Select an Event', input_html: { onchange: 'displayMaxLimit(this)', id: 'user-events' } %>
        <%= f.input :time_worked, as: :float %>
        <div class="help-text">
          max limit:
          <span id="max-limit"></span>
        </div>
      </div>
      <br/>
      <%= f.submit 'Save', class: 'button' %>
      <%= link_to 'Cancel', admin_volunteer_hours_path, class: 'button', style: 'margin-left:0.5rem;' %>
    <% end %>
  </div>
</div>
<script>

  function displayMaxLimit(selectedEvent) {
    var maxLimit = $(selectedEvent).find(':selected').data('max-limit');
    $('#max-limit').html(maxLimit);
  }
  $('#user-select').on('change', function(){
    if ($(this).val().length) {
      $('#events-and-time-worked').show();
      $.ajax({
        url: '#{unvolunteered_events_admin_volunteer_hours_path}',
        type: 'GET',
        data: {
          user_id: $(this).val()
        },
        success: function(data) {
          $('#user-events').children().remove();
          var userEvents = ['<option value>Select an Event</option>'];
          $.each(data, function(key, value) {
            userEvents += '<option data-max-limit="' + value.max_limit + '" value="' + value.id + '">' + value.name + '</option>';
          });
          $('#user-events').append(userEvents);
        }
      })
    }
  })

</script>
