- if user_signed_in?
  %ul.dropdown.menu{"data-dropdown-menu" => ""}
    %li
      %a#burger-menu{href: 'javascript:void(0)'}
        %span.burger-icon
    %li#logo
      = link_to dashboard_path, id: 'logo-link' do
        = image_tag 'jakara-logo.png', id: 'jakara-logo'
    %li.nav-item
      = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link', id: 'logout'
- else
  #signed-out-nav
    #logo
      = link_to root_path, id: 'logo-link' do
        = image_tag 'jakara-logo.png', id: 'jakara-logo'
    #authenticate-user-wrapper
      .nav-item#sign-up-button
        = link_to 'Sign up', new_user_registration_path
      .nav-item#sign-in-button
        = link_to 'Sign in', new_user_session_path

#mobile-nav-container
  = render partial: 'layouts/navigation/user_view/side_nav'

:javascript
  $('#burger-menu').on('click', function(e){
    this.classList.toggle('is-active');
    if ($('#burger-menu').hasClass('is-active')) {
      $('#mobile-nav-container').animate({left: 0});
    } else {
      $('#mobile-nav-container').animate({left: -150});
    }
    e.preventDefault();
  })