%ul.side-nav{:role => 'navigation'}
  - if is_admin?
    %li.admin-head-li{role: 'navheading'} Admin Panel
    
    %li.admin-li{role: 'navitem'}
      = link_to 'Events', admin_events_path
    %li.admin-li{role: 'navitem'}
      = link_to 'Volunteers', admin_users_path
    %li.admin-li{role: 'navitem'}
      = link_to 'Volunteer Hours', admin_volunteer_hours_path
    %li.admin-li{role: 'navitem'}
      = link_to 'Regions', admin_regions_path

    %li.admin-head-li{role: 'navheading'} User View
    
    %li.admin-li{role: 'navitem'}
      = link_to 'Dashboard', dashboard_path  
    %li.admin-li{role: 'navitem'}
      = link_to 'Events', dashboard_events_path
  - else
    %li{role: 'navitem'}
      = link_to 'Events', dashboard_events_path
  - if user_signed_in?
    %li{role: 'navitem'}
      = link_to 'My Profile', user_path(current_user)
    %li{role: 'navitem'}
      = link_to 'Log out', destroy_user_session_path, method: :delete
