= link_to 'New Region', new_admin_region_path, class: 'button'
%table
  %thead
    %tr
      %th ID
      %th= sortable('name')
      %th Actions
  %tbody
    - @regions.each do |region|
      %tr
        %td
          = region.id
        %td
          = region.name
        %td
          =link_to 'Edit', edit_admin_region_path(region), class: 'edit-action'
          |
          =link_to 'Delete', admin_region_path(region), class: 'delete-action', data: { confirm: 'Are you sure?', method: :delete }

.cell.pagination-wrapper.admin
  .pagination-info
    = pagy_info(@pagy).html_safe
  = pagy_foundation_nav(@pagy).html_safe if @pagy.pages > 1