.admin-page.admin-page.admin-regions-page
  %h1.text-center Regions
  = link_to 'New Region', new_admin_region_path, class: 'button'
  .table-scroll
    %table
      %thead
        %tr
          %th ID
          %th= sortable('name')
          %th Actions
      %tbody
        - @regions.each do |region|
          %tr
            %td
              = region.id
            %td
              = region.name
            %td
              =link_to edit_admin_region_path(region), class: 'edit-action' do
                %i.fa.fa-pencil
              =link_to admin_region_path(region), class: 'delete-action', data: { confirm: "Are you sure you would like to delete the region, #{region.name}?", method: :delete } do
                %i.fa.fa-trash

  .cell.pagination-wrapper.admin
    .pagination-info
      = pagy_info(@pagy).html_safe
    = pagy_foundation_nav(@pagy).html_safe if @pagy.pages > 1