.grid-x
	.cell.large-6.medium-6
		= simple_form_for [:admin, @user] do |f|
			.grid-x.grid-margin-x
				.cell.large-6.medium-6
					= f.input :first_name, autofocus: true, placeholder: "First name", required: ''
				.cell.large-6.medium-6
					= f.input :last_name, placeholder: "Last name", required: ''
			.row
				= f.email_field :email, placeholder: "Email", required: ''
			.row
				= f.password_field :password, autocomplete: "off", placeholder: "Password", required: ''
			.row
				= f.label :birthday
				.birthday-wrapper
					= f.input :birthday, as: :date, start_year: Date.today.year - 90, end_year: Date.today.year - 12, :order => [:month, :day, :year], default: {year: '1995'}, label: false
			.row
				= f.input :address, placeholder: "address", required: ''
			.grid-x.grid-margin-x
				.cell.large-4.medium-4
					= f.input :city, label: 'city', required: ''
				.cell.large-4.medium-4
					= f.input :state, label: 'state', as: :select, collection: us_states, required: ''
				.cell.large-4.medium-4
					= f.input :zip_code, required: ''
			.row
				= f.input :gender, as: :select, collection: User.genders.keys, label: 'Gender', required: ''
			.row
				= f.input :phone, label: 'phone', required: ''
			.grid-x.grid-margin-x
				.cell.large-6.medium-6
					= f.input :parent_first_name, required: ''
				.cell.large-6.medium-6
					= f.input :parent_last_name, required: ''
			.row
				= f.input :parent_email, required: ''
			.row
				= f.input :parent_phone, required: ''
			.row
				= f.input :school_year, as: :select, collection: school_years, required: ''
			.row
				= f.submit 'Save', class: 'button'
				= link_to 'Cancel', admin_users_path, class: 'button', style: 'margin-left:0.5rem;'
