.admin-page.admin-users-page
  %h1.text-center Volunteers
  = render partial: 'search_form'
  .table-scroll
    %table
      %thead
        %tr
          %th ID
          %th= sortable('users.first_name, users.last_name','Name')
          %th= sortable('email')
          %th Phone #
          %th= sortable('admin')
          %th Actions
      %tbody
        - @users.each do |volunteer|
          %tr
            %td= volunteer.id
            %td= link_to volunteer.name, user_path(volunteer)
            %td= volunteer.email
            %td#phone-num= format_phone_num(volunteer.phone)
            %td= volunteer.admin?
            %td
              - if current_user.eql?(volunteer)
                = link_to 'Edit', edit_admin_user_path(volunteer)
                |
                =link_to 'Delete', admin_user_path(volunteer), class: 'delete-action', data: { confirm: 'Are you sure?', method: :delete }
              - else
                =link_to 'Delete', admin_user_path(volunteer), class: 'delete-action', data: { confirm: 'Are you sure?', method: :delete }

  .cell.pagination-wrapper.admin
    .pagination-info
      = pagy_info(@pagy).html_safe
    = pagy_foundation_nav(@pagy).html_safe if @pagy.pages > 1