%table
  %thead
    %tr
      %th ID
      %th Name
      %th email
      %th Phone #
      %th is_admin?
      %th Actions
  %tbody
    - @users.each do |volunteer|
      %tr
        %td
          = volunteer.id
        %td
          = "#{volunteer.first_name} #{volunteer.last_name}"
        %td
          = volunteer.email
        %td
          = volunteer.phone
        %td
          = volunteer.admin?
        %td
          - if current_user.eql?(volunteer)
            = link_to 'Edit', edit_admin_user_path(volunteer)
            |
            =link_to 'Delete', admin_user_path(volunteer), class: 'delete-action', data: { confirm: 'Are you sure?', method: :delete }
          - else
            =link_to 'Delete', admin_user_path(volunteer), class: 'delete-action', data: { confirm: 'Are you sure?', method: :delete }