- selected_region = Region.find(params[:region_id]).name if params[:region_id].present?
.cell#filter-by-container
	#filter-by-wrapper
		= render partial: 'dashboard/events/filter_by'
.page-container
	.page-wrapper
		.grid-x.events
			- if @events.empty? && params[:region_id].present?
				.cell
					%p.helper-text
						= "No events found in #{selected_region}."
			- elsif params[:region_id].present?
				.cell
					%h5#events-in-label= "Events in #{selected_region}"
			.cell
				= render partial: 'dashboard/events/event'