- selected_region = Region.find(params[:region_id]).name if params[:region_id].present?
#filter-by-container
	#filter-by-wrapper
		= render partial: 'dashboard/events/filter_by'
.page-container
	.page-wrapper
		.grid-x.events
			.cell.pagination-wrapper
				.pagination-info
					= pagy_info(@pagy).html_safe
					%span= "in #{selected_region}" if params[:region_id].present?
				= pagy_foundation_nav(@pagy).html_safe if @pagy.pages > 1
			.cell
				= render partial: 'dashboard/events/event'