.page-container.events
  .page-wrapper
    .grid-x.grid-margin-x
      .cell
        .show-events-page-wrapper
          %h1= @event.name
          .submit-hours-wrapper
            %p.helper-text= @event.region.name
            = link_to 'Submit Hours', 'javascript:void(0)', data: {open: 'submit-hours-modal'} unless @event.deadline_passed?(@event_volunteer_hour)
    .grid-x.grid-margin-x.show-events-details-container
      .cell.large-8
        .show-events-page-wrapper
          .event-details
            .event-image{style: "background-image: url(#{event_image_or_default_url(@event)})"}
            %h2.page-subheading Details
            %p.event-description.description= @event.description
          =# render partial: 'dashboard/events/comments'

          = render partial: 'dashboard/events/submit_hours'
      .cell.large-4.page-sidebar
        .show-events-page-sidebar
          .event-section-wrapper
            %span.event-info-icons
              %i.fa.fa-calendar-check-o{'aria-hidden' => 'true'}
            .event-info
              %p.description= format_date_by_event(@event)
              %p.description= event_time(@event)
          .event-section-wrapper        
            %span.event-info-icons
              %i.fa.fa-map-marker{'aria-hidden' => 'true'}
            .event-info
              %p.description= @event.venue
