.navigation.top-bar
	.top-bar-left
		.page-container
			.page-wrapper
				.navigation-wrapper
					%ul.dropdown.menu{"data-dropdown-menu" => ""}
						- if user_signed_in?
							%li.logo
								%i.fa.fa-home{style:'color:#7CA5C2;margin-right:-0.5rem;'}
								= link_to 'VM App', dashboard_path
							%li
								= link_to 'Events', dashboard_events_path
						- else
							%li.logo VM App
					%ul.dropdown.menu{"data-dropdown-menu" => ""}
						- if user_signed_in?
							%li.nav-item
								= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do
									%em.icon-notebook
									%span
										Logout
						- else
							%li.nav-item#sign-up-button
								= link_to 'Sign up', new_user_registration_path, class: 'button'
							%li.nav-item
								= link_to 'Sign in', new_user_session_path, class: 'button'