!!!
%html{:lang => 'en'}
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %meta{:charset => 'utf-8'}/
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}/
    %meta{:content => 'no-cache', :name => 'turbolinks-cache-control'}/
    %title= @page_title.present? ? "#{@page_title} | Jakara" : 'Volunteer Management App | Jakara'
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: 'layouts/navigation/user_view/user_nav'
    =# render partial: 'shared/flash'
    = yield
